body {
  --background-primary: #30898a;
  --background-primary-hovered: #4ca8aa;
  --background-gradient: linear-gradient(180deg, #54D3C2 0%, #30898A 100%);
}

body.light {
  --background: #ffffff;
  --background-input: #fbfbfb;
  --background-nav: #dcdcdc;
  --background-secondary: #9dcdce;
  --background-secondary-hovered: #d6d6e4;
  --element-active: #30898a;
  --element-text: #000;
  --element-text-secondary: #444444;
  --element-text-light: #fff;
  --element-text-invert: #ffffff;
  --border: #e9e9e9;
}

body.dark {
  --background: #282A37;
  --background-input: #2e3039;
  --background-nav: #2c2d38;
  --background-secondary: #224040;
  --background-secondary-hovered: #305252;
  --element-active: #30898a;
  --element-text: #ffffff;
  --element-text-secondary: #444444;
  --element-text-light: #fff;
  --element-text-invert: #000;
  --border: #3f3f3f;
}

* {
  border: none;
  color: var(--element-text);
}

*:focus-visible {
  outline: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: var(--background);
}

@import './components/pages/main';
@import './components/menu/header';
@import './components/menu/panel';
@import './components/popups/loginPopup';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  border-radius: 20px;
  width: -webkit-fill-available;
  height: 10px;
  padding: 15px;
  outline: var(--border) solid 1px;
  background-color: var(--background-input);
  &:focus-visible{
    outline: var(--element-active) solid 1px;
  }
}
button{
  border: none;
}
.btn{
  border: none;
  background-color: var(--background-secondary);
  padding: 15px 10px;
  text-align: center;
  color: var(--element-text-light) ;
  cursor: pointer;

  &:hover {
    background-color: var(--background-secondary-hovered);
    cursor: pointer;
  }

  &.active {
    background-color: var(--background-primary);
    color: var(--element-text-light);
    &:hover {
      background-color: var(--background-primary-hovered);
      cursor: pointer;
    }
  }
}