body {
  --background-primary: #30898a;
  --background-primary-hovered: #4ca8aa;
  --background-gradient: linear-gradient(180deg, #54D3C2 0%, #30898A 100%);
}

body.light {
  --background: #ffffff;
  --background-element: #F8F8F8;
  --background-input: #fbfbfb;
  --background-nav: #dcdcdc;
  --background-secondary: #9dcdce;
  --background-secondary-hovered: #d6d6e4;
  --element-active: #30898a;
  --element-text: #000;
  --element-text-secondary: #818181;
  --element-text-light: #fff;
  --element-text-invert: #ffffff;
  --border: #e9e9e9;
}

body.dark {
  --background: #282A37;
  --background-element: #43444d;
  --background-input: #2e3039;
  --background-nav: #2c2d38;
  --background-secondary: #224040;
  --background-secondary-hovered: #305252;
  --element-active: #30898a;
  --element-text: #ffffff;
  --element-text-secondary: #6c6c6c;
  --element-text-light: #fff;
  --element-text-invert: #000;
  --border: #3f3f3f;
}

* {
  border: none;
  color: var(--element-text);
}

*:focus-visible {
  outline: none;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  overflow-x: hidden;
}

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}
label:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #bada55;
}
input:checked + label:after {
  left: calc(100% - 0px);
  transform: translateX(-100%);
}

label:active:after {
  width: 20px;
}

header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  height: 120px;
  align-items: center;
  margin-bottom: -20px;
  padding-bottom: 20px;
}

.header__brand_text {
  display: flex;
  align-items: center;
  height: 100%;
}
.header_theme {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 10px;
}
.header__profile {
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 3px 0;
}
.header__profile_name {
  display: flex;
  align-items: center;
  margin: 0 10px;
}
.header__profile_img {
  height: 100%;
}
.header__profile_img img {
  height: 100%;
}
.header__nav {
  display: flex;
}
.header__nav_controller {
  display: flex;
  height: fit-content;
}
.header__nav_controller_item {
  box-shadow: 0px 4px 18px 0px rgba(210, 209, 209, 0.5019607843);
  padding: 10px;
  margin: 7px;
  border-radius: 50%;
}
.header__nav_controller_item img {
  padding: 0 7px 0 3px;
}
.header__nav_controller_item.right img {
  transform: rotate(180deg);
}
.header__nav_panel {
  display: flex;
  align-items: center;
  overflow-x: scroll;
}
.header__nav_panel_item {
  margin: 0 10px;
  color: var(--element-text-secondary);
}
.header__nav_panel_item.active {
  color: var(--element-text);
}

.panel {
  width: 120px;
  background: var(--background-gradient);
  height: 100vh;
  margin-right: -30px;
  border-radius: 40px 0 0 40px;
  padding-right: 30px;
}
.panel__brand {
  margin: 50px 0;
  display: flex;
  justify-content: center;
}
.panel__button {
  width: fit-content;
  margin: 0 auto;
}
.panel__button_item {
  margin: 10px auto;
  padding: 10px;
  width: -webkit-fill-available;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.panel__button_item:hover {
  background-color: rgba(255, 255, 255, 0.2509803922);
}
.panel__button_item.active {
  background-color: rgba(255, 255, 255, 0.4117647059);
}

.loginPopup__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5176470588);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginPopup__container {
  max-width: 600px;
  min-width: 300px;
  max-height: 800px;
  border-radius: 15px;
  border: var(--border) solid 1px;
  background-color: var(--background);
}
.loginPopup__header {
  padding: 10px 10px;
  border-bottom: var(--border) solid 1px;
}
.loginPopup__header_tittle {
  text-align: center;
  text-transform: uppercase;
}
.loginPopup__buttons {
  display: flex;
  flex-direction: row;
  border-bottom: var(--border) solid 1px;
  background-color: var(--background-secondary);
}
.loginPopup__buttons_item {
  width: 50%;
  padding: 10px 0;
  text-align: center;
  color: var(--element-text);
}
.loginPopup__body {
  padding: 15px;
}
.loginPopup__body_error {
  color: var(--element-text);
  text-align: center;
  padding: 5px 10pxa;
}
.loginPopup__form {
  display: flex;
  flex-direction: column;
}
.loginPopup__form_input {
  margin: 10px 0;
}
.loginPopup__form_input_text {
  margin-bottom: 5px;
  color: var(--element-text);
}
.loginPopup__form button {
  padding: 15px 10px;
  margin: 20px -15px -15px;
  border-radius: 0 0 15px 15px;
  cursor: pointer;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  border-radius: 20px;
  width: -webkit-fill-available;
  height: 10px;
  padding: 15px;
  outline: var(--border) solid 1px;
  background-color: var(--background-input);
}
input:focus-visible {
  outline: var(--element-active) solid 1px;
}

button {
  border: none;
}

main {
  width: 100%;
  min-height: 100%;
  background-color: var(--background);
  border-radius: 40px 0 0 40px;
}

.main {
  width: 100%;
  background-color: var(--background-element);
  height: calc(100% - 120px);
  border-radius: 40px 40px 0 0;
}
.main__container {
  padding: 40px;
}
.main h1 {
  margin-top: 0;
}
.main__body {
  margin: 40px 0;
}

#root {
  display: flex;
  flex-direction: row;
}

.btn {
  border: none;
  background-color: var(--background-secondary);
  padding: 15px 10px;
  text-align: center;
  color: var(--element-text-light);
  cursor: pointer;
}
.btn:hover {
  background-color: var(--background-secondary-hovered);
  cursor: pointer;
}
.btn.active {
  background-color: var(--background-primary);
  color: var(--element-text-light);
}
.btn.active:hover {
  background-color: var(--background-primary-hovered);
  cursor: pointer;
}

/*# sourceMappingURL=index.css.map */
